<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.UI-Router" version="0.2.11" targetFramework="net45" />
  <package id="angularfire.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net45" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="2.1.9" targetFramework="net45" />
  <package id="firebase.TypeScript.DefinitelyTyped" version="0.1.1" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="1.4.0" targetFramework="net45" />
  <package id="normalize.css" version="3.0.1" targetFramework="net45" />
</packages>